@{
    ViewBag.Title = "Home Page";
}

<div id="calculator">
    <label>Input number:</label>
    <input type="text" id="numberBox" />
    <button type="button" id="enterButton">Enter</button>
    <text id="error">positive, whole numbers only</text>
    <hr />
    <label>Output:</label>
    <text id="output" class="autoWrap"></text>
    <br/>
    <label>Odd:</label>
    <text id="oddOutput" class="autoWrap"></text>
    <br />
    <label>Even:</label>
    <text id="evenOutput" class="autoWrap"></text>
    <br />
    <label>CEZOutput:</label>
    <text id="allceOutput" class="autoWrap"></text>
    <br />
    <label>fibonacciOutput:</label>
    <text id="fibonacciOutput" class="autoWrap"></text>
</div>